body {
    background-color: #222;
}

* {
    color: #fff !important;
}

.card * {
    color: #222 !important;
}

.card code {
    color: #990 !important;
}

a,
.btn-dark {
    color: #0ff !important;
}

.part {
    margin-top: 3em;
    margin-bottom: 3em;
}
